[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
pydantic = "*"
pyjwt = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
