[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
sqlalchemy = "*"
dotenv = "*"
jwt = "*"
bcrypt = "*"
fastapi = {extras = ["standard"], version = "*"}
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
